<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ficha técnica</title>
  <link rel="stylesheet" href="style.css">
  <script src="ruta/a/html2pdf.js"></script>
</head>
<body>
  <div id="container">
 <h2>Ingrese texto:</h2>
    <input type="text" id="texto1" placeholder="Habitaciones"><br>
    <input type="text" id="texto2" placeholder="Baños"><br>
    <input type="text" id="texto3" placeholder="Estacionamientos"><br>
    <input type="text" id="texto4" placeholder="Niveles construidos"><br>
    <input type="text" id="texto5" placeholder="m^2 de construcción"><br>
    <input type="text" id="texto6" placeholder="Antiguedad"><br>
    <input type="text" id="texto7" placeholder="Uso de suelo"><br>
    <input type="text" id="texto8" placeholder="Jardin"><br>
    <input type="text" id="texto9" placeholder="Cuarto de lavado"><br>
    <input type="text" id="texto10" placeholder="Dirección"><br>
    
    
    <h3>Imagen de fachada:</h3>
<input type="file" id="imagen1" accept="image/*" class="image-input"><br>

<h3>Imagenes del inmueble:</h3>
<input type="file" id="imagen2" accept="image/*" class="image-input"><br>
<input type="file" id="imagen3" accept="image/*" class="image-input"><br>
<input type="file" id="imagen4" accept="image/*" class="image-input"><br>
<input type="file" id="imagen5" accept="image/*" class="image-input"><br>
<input type="file" id="imagen6" accept="image/*" class="image-input"><br>
<input type="file" id="imagen7" accept="image/*" class="image-input"><br>

    <button onclick="mostrarInfo()">Imprimir ficha</button>
  </div>
  <script src="script.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>