<!DOCTYPE html>
<html>
<head>
  <title>Información Ingresada</title>
</head>
<body>

<div id="title-container">INMUEBLE PARTICULAR</div>
<div id="container">
  <div class="first-image-container">
    <!-- Mostrar la primera imagen junto con el texto -->
    <img src="">
    <div>
      <p><span class="info-label">Habitaciones:</span> </p>
      <p><span class="info-label">Baños:</span> </p>
      <p><span class="info-label">Estacionamientos:</span> </p>
    </div>
  </div>

  <h2>Vistas adicionales:</h2>

  <!-- Mostrar imágenes restantes en una cuadrícula de 3 columnas y 2 filas -->
  <div class="image-grid"></div>

</div>

</body>
</html>